/* Styles go here */

#stars-container{
  margin : 0.3em;
  font-size: 1.75em;
}

#stars-container,#answer-container{
  width: 30%;
  float:left;
}

#button-container {
  width : 20%;
  float:left;
  text-align:center;
}

#stars-container .well, #answer-container .well{
  height:350px;
}

#number-container .well .number, #answer-container .number{
  display:inline-block;
  margin: 0.5em;
  background-color:#bbb;
  width:30px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
  border-radius:50%;
  cursor:pointer;
}

#number-container .well .selected-true{
  background-color: #e8e8e8;
  color: #bbb;
  cursor: not-allowed;
}

#number-container .well .used-true{
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}